h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
/*a,
.primary-color,
.dark .primary-color {
  color: #ce5252;
}*/
a:hover {
  color: #9c383a;
}
.blogitem .blogitem-hoverinfo,
.portfolioitem .portfolioitem-hoverinfo {
  background-color: #ce5252;
  color: #fff;
}
#resumenav a {
  color: #545253;
  line-height: 30px;
}
#resumenav a:hover {
    background-color: transparent;
    border-left: 2.5px solid #ccc;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-list > .active > a,
.nav-list > .active > a:hover,
.icon-btn:hover,
.btn-primary:hover,
.blogitem .blogitem-actions a:hover,
.portfolioitem .portfolioitem-actions a:hover {
  background-color: transparent !important;
}
#resumenav li.active a,
.nav-pills > .active > a {
  background-color: transparent !important;
    color: #545253;
    border-left: 2.5px solid #545253;
    font-weight: 600;
}
.glyphicons.white i:before {
    color: #545253;
}

.icon-btn:hover i:before {
    color: #ccc;
}

.icon-btn{
background-color: transparent;
}

.btn-primary {
  background-color: #ce5252;
}
.progress{
  height: 16px;
}
.progress .bar {
  background-color: #999;
  background-image: -moz-linear-gradient(top,#999,#545253);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#999),to(#545253));
  background-image: -webkit-linear-gradient(top,#999,#545253);
  background-image: -o-linear-gradient(top,#999,#545253);
  background-image: linear-gradient(to bottom,#999,#545253);
}
body {
  position: relative;
  /*background: #ececec url("../images/textures/vichy.png") fixed repeat !important;*/
}
#content {
  background: #fff;
  /*box-shadow: 0 0 15px rgba(0,0,0,0.4);*/
}
#sidebar.sbright .sidebar-nav {
  background: #e5e5e5;
  border-left: 1px solid #ccc;
  border-right: none;
}
#sidebar.sbleft .sidebar-nav {
  background: #ce5252;
  border-right: 5px solid #9c383a;
  border-left: none;
}
#footer {
  color: #666;
}
.section .section-title {
  color: #545253;
  background-color: transparent;
}
.section .section-title .glyphicons i:before {
  color: #fff !important;
}
.timeline-item-trigger span i:before {
  background-color: transparent;
    border: 6px solid transparent;
}
/*.timeline-item-trigger span:hover i:before {
  background-color: #9c383a;
  border-color: #9c383a;
}*/
@media (max-width: 767px) {
  .section .section-title {
    border-bottom: 5px solid #9c383a;
    border-top: 5px solid #9c383a;
  }
}
