h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}
/*a,
.primary-color,
.dark .primary-color {
  color: #ce5252;
}*/
a:hover {
  color: #9c383a;
}
.blogitem .blogitem-hoverinfo,
.portfolioitem .portfolioitem-hoverinfo {
  background-color: rgba(85, 85, 85, 0.9);
  color: #fff;
}
#resumenav a {
  color: #545253;
  line-height: 30px;
}
#resumenav a:hover {
    background-color: transparent;
    border-left: 2.5px solid #ccc;
}
.nav-pills > .active > a,
.nav-list > .active > a,
.nav-list > .active > a:hover,
.icon-btn:hover,
.btn-primary:hover,
.blogitem .blogitem-actions a:hover,
.portfolioitem .portfolioitem-actions a:hover {
  background-color: transparent !important;
}

.span9 .btn.active, .span9 .btn:active{
  box-shadow: none;
}

.portfolioitem-actions .glyphicons.white i:before{
  color:#fff;
}
.nav-pills > .active > a:hover, .nav-pills>li>a{
  color:#545253;
}
.nav-pills>li>a:hover{
  background-color: transparent;
  border-bottom: 2.5px solid #ccc;
  border-radius: 0;
}
#resumenav li.active a {
  background-color: transparent !important;
    color: #545253;
    border-left: 2.5px solid #F85758;
    font-weight: 600;
}
.nav-pills>li>a{
    text-transform: uppercase;
}
.nav-pills > .active > a {
  background-color: transparent !important;
    color: #545253;
    border-bottom: 2.5px solid #F85758;
    font-weight: 600;
    border-radius: 0;
}
.glyphicons.linked_in i:before {
    color: #217AAB!important;
}
.glyphicons.twitter i:before{
    color: #21A1F0!important;
}
.glyphicons.facebook i:before{
    color: #3A559D!important;
}
.glyphicons.white i:before {
    color: #F85758;
}
.icon-btn:hover i:before {
    color: #ccc;
}

.icon-btn{
background-color: transparent;
}

.btn-primary {
  background-color: #ce5252;
}
.progress{
  height: 12px;
}
.progress .bar {
  background-color: #F85758;
  background-image: -moz-linear-gradient(top,#F85758,#F85758);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#F85758),to(#F85758));
  background-image: -webkit-linear-gradient(top,#F85758,#F85758);
  background-image: -o-linear-gradient(top,#F85758,#F85758);
  background-image: linear-gradient(to bottom,#F85758,#F85758);
}
body {
  position: relative;
  /*background: #ececec url("../images/textures/vichy.png") fixed repeat !important;*/
}
#content {
  background: #fff;
  /*box-shadow: 0 0 15px rgba(0,0,0,0.4);*/
}
#sidebar.sbright .sidebar-nav {
  background: #e5e5e5;
  border-left: 1px solid #ccc;
  border-right: none;
}
#sidebar.sbleft .sidebar-nav {
  background: #ce5252;
  border-right: 5px solid #9c383a;
  border-left: none;
}
#footer {
  color: #666;
}
.section.first-section h1{
  color: #F85758;
}
.section .section-title {
  font-family: 'Raleway', sans-serif;
  color: #545253;
  background-color: transparent;
  font-size: 26px;
    text-transform: uppercase;
}

.section .section-title .glyphicons i:before {
  color: #fff !important;
}
.timeline-item-trigger span i:before {
  background-color: transparent;
    border: 6px solid transparent;
}
/*.timeline-item-trigger span:hover i:before {
  background-color: #9c383a;
  border-color: #9c383a;
}*/
@media (max-width: 767px) {
  .section .section-title {
    border-bottom: 5px solid #9c383a;
    border-top: 5px solid #9c383a;
  }
}


.lead{
      font-size: 16px;
}